.cards {
  display: grid;
  grid-template-columns: 20% 25% 5% 5% 15% 30%;
  grid-template-rows: 150px;
  grid-gap: 2px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background-color: lightslategrey;
}
