.header {
  display: grid;
  grid-template-columns: 20% 25% 5% 5% 15% 30%;
  grid-template-rows: 30px;
  grid-gap: 2px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  background-color: rgb(50, 102, 204);
}

.name {
  cursor: pointer;
}

.age {
  cursor: pointer;
}
